# Base URL of the backend API
VITE_API_BASE_URL=http://localhost:5210

# Serble OAuth App Client ID
VITE_CLIENT_ID=1ebf51ca-9eae-46ad-aa98-b984c47ad94d

# Public-facing URL of this frontend (used for invite links and message links)
# Defaults to window.location.origin if not set
VITE_FRONTEND_URL=http://localhost:5173

# URL the frontend should use to connect to the LiveKit server (WebSocket URL)
VITE_LIVEKIT_URL=ws://localhost:7880

# URL of the S3 endpoint for loading images
VITE_S3_ENDPOINT=https://s3.serble.net/serblechat-images

# API URL for Serble Files (allows users to upload files to chats)
VITE_SERBLE_FILES_API_URL=https://api.files.serble.net

# SERBLE FILES - Serble OAuth App Client ID
VITE_FILES_CLIENT_ID=0a5cad39-9a81-4ac2-baac-0c37585fd75c
